build/
build*/
engine*/
dist/
output*/
*.egg-info
*_engine/
*.engine
*_onnx/
__pycache__/
.vscode
.nvcode/
.cache
data/
data.tar
*.csv
*.tar.gz
internal/
*.log
.DS_Store/
*.json
*.jsonl
*.so
docs/cpp_docs/
docs/build/
docs/source/cpp_api/
docs/source/cpp_api.rst
docs/source/python_api.rst